{{define "css"}}
<link rel="stylesheet" href="/components/jquery-form-validator-net/form-validator/theme-default.min.css">
<link rel="stylesheet" href="/components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{{end}}
{{define "content"}}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <div class="box-tools">
                    <button type="button" class="btn btn-block btn-primary" data-toggle="modal"
                        data-target="#modal-tambah"><i class="fa fa-plus"></i> Portal
                        Baru</button>

                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="tportal" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nama Portal</th>
                            <th>NO. Portal</th>
                            <th>Deskripsi</th>
                            <th>Base URL</th>
                            <th width="90">#Aksi</th>

                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->

        </div>
    </div>
</div>
{{end}}

{{define "modal"}}
<!--MODAL FORM TAMBAH-->
<div class="modal fade" id="modal-tambah" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-plus-circle"></i> TAMBAH PORTAL</h4>
            </div>
            <div class="modal-body">
                <!-- /.box-header -->
                <form class="form-horizontal" id="form-tambah" onsubmit="return false">
                    <!--<input type="hidden" name="<?= $this->security->get_csrf_token_name() ?>" value="<?= $this->security->get_csrf_hash() ?>">-->
                    <input type="hidden" name="id_portal">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nama Portal *</label>
                            <div class="col-sm-8">
                                <input class="form-control" placeholder="Nama Portal" data-validation="required"
                                    type="text" name="portal_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nomor Portal *</label>
                            <div class="col-sm-8">
                                <input class="form-control" placeholder="Nomor Portal" data-validation="required number"
                                    type="text" name="portal_number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Deskripsi Portal *</label>
                            <div class="col-sm-8">
                                <input class="form-control" placeholder="Deskripsi Portal" data-validation="required"
                                    type="text" name="portal_desc">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">URL</label>
                            <div class="col-sm-8">
                                <input class="form-control" placeholder="URL" type="text" name="portal_link">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Meta Title *</label>
                            <div class="col-sm-8">
                                <input class="form-control" placeholder="Meta Name" data-validation="required"
                                    type="text" name="portal_title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Meta Tags *</label>
                            <div class="col-sm-8">
                                <input class="form-control" placeholder="Meta Tags" data-validation="required"
                                    type="text" name="portal_tag">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Meta Description *</label>
                            <div class="col-sm-8">
                                <input class="form-control" placeholder="Meta Description" data-validation="required"
                                    type="text" name="portal_meta_desc">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">*) Wajib Diisi</label>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-info pull-right tombol-simpan">SIMPAN</button>
                        </div>
                    </div>
                </form>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default" data-backdrop="static">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Hapus Data ?</h4>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
          <button type="button" onclick="konfirmasihapus(this)" class="btn btn-danger tombol-confirm-hapus">Hapus</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
{{end}}

{{define "javascript"}}
<script src="/components/jquery-form-validator-net/form-validator/jquery.form-validator.min.js"></script>
<script src="/components/jquery-form-validator-net/form-validator/lang/id.js"></script>
<script src="/components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
    var tablePortal = "#tportal"
    var formModal = "#form-tambah"
    var modal = "#modal-tambah"
    var modalHapus = "#modal-default"
    
    
    dtportal = $(tablePortal).DataTable({
        "ajax": {
            "url": "/api/backend/portal",
            "type": "GET",
            "dataSrc": "data.data"
        },
        "bFilter": true,
        "paging": true,
        "columns": [
            { "data": "PortalName" },
            { "data": "PortalNumber", "className": "text-center" },
            { "data": "PortalDesc" },
            { "data": "PortalLink" },
            {
                "data": null,
                "render": function (data, type, row) {
                    return '<div class="btn-group"> ' +
                        ' <button type="button" class="btn btn-xs btn-info tombol-edit"><i class="fa fa-edit"></i> Edit</button>' +
                        '<button type="button" class="btn btn-xs btn-danger tombol-hapus"><i class="fa fa-trash"></i> Delete</button> </div>';
                }
            }

        ]
    });

    $(tablePortal).on('click', 'tbody button.tombol-edit', function () {
        var data = dtportal.row($(this).parents('tr')).data();
        $(modal+ ' div.modal-header h4.modal-title').html('<i class="fa fa-edit"></i> EDIT PORTAL')

        $(formModal+ ' input[name="id_portal"]').val(data.PortalID)
        $(formModal+ ' input[name="portal_name"]').val(data.PortalName)
        $(formModal+ ' input[name="portal_number"]').val(data.PortalNumber)
        $(formModal+ ' input[name="portal_desc"]').val(data.PortalDesc)
        $(formModal+ ' input[name="portal_link"]').val(data.PortalLink)
        $(formModal+ ' input[name="portal_title"]').val(data.MetaTitle)
        $(formModal+ ' input[name="portal_tag"]').val(data.MetaTag)
        $(formModal+ ' input[name="portal_meta_desc"]').val(data.MetaDesc)
        $(modal).modal("show")
    });

    $(tablePortal).on('click', 'tbody button.tombol-hapus', function () {
        var data = dtportal.row($(this).parents('tr')).data();
        $(modalHapus+ ' div.modal-body').html('<p>Anda akan menghapus : ' + data.PortalName +'</p>')
        $(modalHapus+ ' div.modal-footer button.tombol-confirm-hapus').attr("data-id", data.PortalID)
        $(modalHapus).modal("show")
    });

    /* Reset Form after modal is hide */
    $(modal).on('hidden.bs.modal', function () {
        $(formModal)[0].reset();
        $(modal+ ' div.modal-header h4.modal-title').html('<i class="fa fa-plus-circle"></i> TAMBAH PORTAL')
    });
    $(modal).on('shown.bs.modal', function () {
        $(formModal +' [name="portal_name"]').focus();
    });
    $.validate({
        lang: 'id'
    });

    function konfirmasihapus(value){
        let dataid = $(value).attr("data-id")
        $.ajax({
            url : "/api/backend/portal/"+dataid,
            type : "DELETE",
            contentType : "application/json",
            success : function () {
                dtportal.ajax.reload(null, false);
                setTimeout(function(){
                    $(modalHapus).modal("hide")
                }, 5000);
            }
        })
    }
</script>
{{end}}