{{define "sidebar"}}
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="/backend">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/backend/app-portal">
                <i class="fa fa-bars fa-fw"></i> <span>Portal Aplikasi</span>
            </a>
        </li>
        <li>
            <a href="/backend/menu-portal">
                <i class="fa fa-server fa-fw"></i> <span>Portal Menu</span>
            </a>
        </li>
        <li>
            <a href="/backend/group">
                <i class="fa fa-users fa-fw"></i> <span>Group Pengguna</span>
            </a>
        </li>
        <li>
            <a href="/backend/users">
                <i class="fa fa-user fa-fw"></i> <span>Pengguna</span>
            </a>
        </li>
        <li>
            <a href="/backend/permission">
                <i class="fa fa-key fa-fw"></i> <span>Hak Akses</span>
            </a>
        </li>
        <li>
            <a href="/backend/log-auth">
                <i class="fa fa-unlock-alt fa-fw"></i> <span>Login Histori</span>
            </a>
        </li>
        <li>
            <a href="/backend/settings">
                <i class="fa fa-wrench fa-fw"></i> <span>Pengaturan</span>
            </a>
        </li>
    </ul>
</section>
{{end}}